.category-section {
    width: 100;
    padding: 40px;
    background-color: #f0f0f0;
    text-align: center;
}

.category-section .articles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;


}