    main.search-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    #search-box {
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 16px;
    }

    #search-btn {
        padding: 10px 20px;
        background-color: #008CBA;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    #search-btn:hover {
        background-color: #006c84;
    }

    /* CSS for search results */
    #search-results {
        margin-top: 40px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;

    }

    #search-results h2 {
        margin-top: 0;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }


    .search-result-cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 60vh;
        padding-top: 50px;
        position: relative;
        background-image: url("../../images/search.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }

    #result-loder.hidden-loder {
        display: none;
    }